# Binários do Go
*.exe
*.exe~
*.out
*.test
*.prof

# Diretórios do Go
/bin/
/pkg/
/vendor/

# Arquivos de ambiente
.env

# Logs
*.log

# Docker
docker-compose.override.yml
mongo_data/

# VSCode
.vscode/
